* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none; 
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding: 30px;
}

