.ExpeditionActivity-item {
	color: #555;
	padding: 1em;
	border-bottom: 1px solid #ddd;
	line-height: 1.4;
    clear: both;
    overflow: hidden;
    display: block;
}

.ExpeditionActivity-button {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 14px;
}

.ExpeditionDay-button:focus {
    outline: none;
}

.EA-item-actions {
    float: left;
    display: inline-block;
}
.EA-item-content {
    float: left;
}