.ExpeditionDay-launcher {
	display: inline-block;
	width: 100%;
	padding: 1em 0;
	text-decoration: none;
	font-size: 18px;
	/* color: blue; light blue */
	border-bottom: 1px dashed #999;
	position: relative;
}

.ExpeditionDay-button {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 14px;
}

.ExpeditionDay-button:focus {
    outline: none;
}