.ExpeditionDay-launcher {
	display: inline-block;
	width: 100%;
	padding: 1em 2em;
	text-decoration: none;
	font-size: 18px;
	/* color: blue; light blue */
	border-bottom: 1px dashed #999;
	position: relative;
}

.ExpeditionDay-button {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 14px;
}

.ExpeditionDay-button:focus {
    outline: none;
}

.btn-ExpandCollapse {
	border-radius: 50%;
	padding: 4px;
	margin: 0;
	background: transparent;
	border: none;
	font-size: 0;
	position: absolute;
    top: 16px;
    left: 0;
}
.btn-ExpandCollapse svg {
	fill: #bbb;
}
.btn-ExpandCollapse:hover {
	background: lightseagreen;
}
.btn-ExpandCollapse:hover svg {
	fill: #fff;
}

.DayList-item__icon {
	border-radius: 50%;
	padding: 4px;
	margin: 0;
	background: transparent;
	border: none;
	font-size: 0;
	position: absolute;
    top: 16px;
    left: 0;
}
.DayList-item__icon svg {
	fill: #bbb;
}