.AddDay-dateInput {
	border: 1px solid #666;
	padding: 10px 15px;
	border-radius: 15px;
	margin: 10px;
	font-size: 14px;
}

.AddDay-input {
	border: 1px solid #666;
	padding: 10px 15px;
	border-radius: 15px;
	margin: 10px;
	font-size: 14px;
}